---
layout: category
---
<div class="post-list">
    <h2>This is a category page!</h2>
    <ul>
        {% for i in (1..5) %}
        {% for post in site.posts%}
        <li>
            <!--如果有自带的图像 则使用自带的图像-->
            <a href="{{site.baseurl}}{{post.url}}">
                {% if post.work_img %}
                <img src="{{site.baseurl}}{{post.work_img}}" class="thumb-cover">
                {% else %}
                <img src="{{site.baseurl}}/works/lulu.jpg" class="thumb-cover">
                {% endif %}
            </a>
            <a href="{{site.baseurl}}{{post.url}}"><h2>{{post.title}}</h2></a>
            <p class="post-description">Hello Cabbage!</p>
        </li>
        {% endfor %}
        {% endfor %}
    </ul>
    
</div>