<div class="col-header">
    <div class="row spread">
        <div class="col-md-20 section first">
            <div class="content-holder timeline">
                <div class="icon icon-timeline"></div>
                <div class="section-title">
                    Timeline </div>
                <div class="section-description">
                    Journey through the history of HarperCollins </div>
                <div class="explore">
                    <a href="/timeline/" class="button animsition-link">Explore</a>
                </div>
                <div class="overlay"></div>
            </div>
        </div>
        <div class="col-md-20 section">
            <div class="content-holder stories">
                <div class="icon icon-stories"></div>
                <div class="section-title">
                    Stories </div>
                <div class="section-description">
                    Explore significant moments in HarperCollins history </div>
                <div class="explore">
                    <a href="/stories/" class="button animsition-link">Explore</a>
                </div>
                <div class="overlay"></div>
            </div>
        </div>
        <div class="col-md-20 section">
            <div class="content-holder hc200">
                <div class="icon icon-the-harpercollins-200"></div>
                <div class="section-title">
                    <span>The</span> <span>HarperCollins</span> <span>200</span> </div>
                <div class="section-description">
                    A collection of 200 iconic HarperCollins titles </div>
                <div class="explore">
                    <a href="/the-harpercollins-200/" class="button animsition-link">Explore</a>
                </div>
                <div class="overlay"></div>
            </div>
        </div>
        <div class="col-md-20 section">
            <div class="content-holder why-i-read">
                <div class="icon icon-why-i-read"></div>
                <div class="section-title">
                    Why I Read </div>
                <div class="section-description">
                    HarperCollins authors on reading and writing </div>
                <div class="explore">
                    <a href="/why-i-read/" class="button animsition-link">Explore</a>
                </div>
                <div class="overlay"></div>
            </div>
        </div>
        <div class="col-md-20 section">
            <div class="content-holder archives">
                <div class="icon icon-inside-the-archives"></div>
                <div class="section-title">
                    <span>Inside</span> <span>the</span> <span>archives</span> </div>
                <div class="section-description">
                    A look inside the HarperCollins archives </div>
                <div class="explore">
                    <a href="/inside-the-archives/" class="button animsition-link">Explore</a>
                </div>
                <div class="overlay"></div>
            </div>
        </div>
    </div>
</div>